<app-navbar></app-navbar>
<div class="row">
<div class="col-4">
<app-sidebar></app-sidebar>
</div>
<div class="col-8">
  <div class="row align-items-center">
    <div class="col-6">
<app-courses></app-courses> </div>
<div class="col-6">
<app-rating></app-rating>
</div> </div> 
<div class="row align-items-center">
  <div class="col-6">
<app-courses></app-courses> </div>
<div class="col-6">
<app-rating></app-rating>
</div> </div> 
<div class="row align-items-center">
  <div class="col-6">
<app-courses></app-courses> </div>
<div class="col-6">
<app-rating></app-rating>
</div> </div> 
<div class="row align-items-center">
  <div class="col-6">
<app-courses></app-courses> </div>
<div class="col-6">
<app-rating></app-rating>
 </div> </div></div></div>